<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> {{title}} | Sistem Whatsapp Extract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrfToken }}">
    <meta content="Whatsapp Extract" name="description" />
    <meta content="Lasbon" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="./favicon.ico">

    @include('layouts/head-css')

</head>

<body>
    @!section('body')
    @!section('content')


    @include('layouts/vendor-scripts')

</body>

</html>