<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> {{title}} | Sistem Whatsapp Extract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrfToken }}">

    <meta content="Lasbon" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    {{--
    <link rel="shortcut icon" href="/images/LOGO HMTI.png"> --}}
    @!section('css')
    @include('layouts.head-css')

</head>

@include('layouts/body')
@show
<div id="layout-wrapper">
    @include('layouts/topbar')
    @include('layouts/sidebar')
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                @!section('content')
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        @include('layouts/footer')
    </div>
    <!-- end main content-->
</div>




@include('layouts/vendor-scripts')
@!section('script')
@!section('script-bottom')
{{--
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script> --}}
<script>
    $(document).ready(function () {
        $('#users_table').DataTable()
    })


</script>
<script>
    $(document).on('click', '.confirm-delete', function (event) {
        event.preventDefault(); // Menghentikan tindakan default dari tombol submit
        let form = $(this).closest("form");
        Swal.fire({
            title: "Apakah Anda Yakin?",
            text: "Data akan terhapus secara permanen.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#1c84ee",
            cancelButtonColor: "#fd625e",
            confirmButtonText: "Ya, delete!"
        }).then(function (result) {
            if (result.value) {
                form.submit();
                Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
            }
        });
    });
</script>
</body>

</html>